{% extends 'layout.twig' %}

{% block body %}

  <section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-12 py-4">
          <p>Insert your configuration associating each GSC propery domain (with protocol) to the related certificate file (cif).</p>
          <form method="post" action="/config">
            <div class="form-group form-inline">
              <div class="input-group mr-3 mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" class="igroup">Domain</span>
                </div>
                <input type="text" class="form-control" id="domain" name="domain">
              </div>
              <div class="input-group mr-3 mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Certificate file</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" name="cif">
                  <option></option>
                  {% for cid in cids %}
                    <option value="{{ cid }}">{{ cid }}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-primary mb-3">Save</button>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 py-4">
          <table class="table table-striped table-bordered table-responsive-xl">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="nowrap">Cif</th>
                <th scope="col" class="nowrap">Domain</th>
                <th scope="col" class="nowrap text-right">#</th>
              </tr>
            </thead>
            <tbody id="incr">
              {% for account in accounts %}
                <tr>
                  <td>{{account.cif}}</td>
                  <td>{{account.domain}}</td>
                  <td class="text-right">
                    <a href="/config/remove?_id={{account._id}}" onclick="return confirm('Remove this configuration?')"><button type="button" class="btn btn-danger btn-sm">remove</button></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>

{% endblock %}
