{% extends 'layout.twig' %}

{% block body %}

  <section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-12 py-4">
          <p>Insert single url, or multiple urls one per line.</p>
          <form method="post" action="/">
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" class="igroup">Url/urls
                  [quota:
                  {% if quota <= 0 %}
                    <span class="red">{{quota}}</span>
                  {% else %}
                    <span>{{quota}}</span>
                  {% endif %}
                  ]</span>
                </div>
                <textarea class="form-control" id="url" name="url" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text igroup" for="inputGroupSelect01">Request Type</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" name="type">
                  <option selected value="URL_UPDATED">URL UPDATED</option>
                  <option value="URL_DELETED">URL DELETED</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Notify</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-12 py-4">
          <table class="table table-striped table-bordered table-responsive-xl">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="nowrap">Location</th>
                <th scope="col" class="nowrap">Req. Type</th>
                <th scope="col" class="nowrap">Res. Code</th>
                <th scope="col" class="nowrap">Res. Msg</th>
                <th scope="col" class="nowrap">Not. Time</th>
                <th scope="col" class="nowrap">Status</th>
                <th scope="col" class="nowrap">Updated at</th>
              </tr>
            </thead>
            <tbody id="incr">
              {% for url in urls %}
                {% if url.status == 'error' %}
                  {% set color = 'red' %}
                {% endif %}
                <tr class="{{color}}" id="{{url.id}}">
                  <td>{{url.id}}</td>
                  <td>{{url.location}}</td>
                  <td>{{url.type}}</td>
                  <td>{{url.response_status_code}}</td>
                  <td>{{url.response_status_message}}</td>
                  <td class="nowrap">
                    {% if url.notifytime %}
                      {{url.notifytime|date('d-m-Y H:i:s', "Europe/Rome")}}
                    {% endif %}
                  </td>
                  <td>{{url.status}}</td>
                  <td class="nowrap">
                    {% if url.updatedat %}
                      {{url.updatedat|date('d-m-Y H:i:s', "Europe/Rome")}}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% include 'partials/pagination.twig' with { currentPage: current, lastPage: pages } %}
        </div>
      </div>

    </div>
  </section>

{% endblock %}
